* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent; // Прибираємо синій клік на мобільних
    touch-action: manipulation; // Швидший відгук на дотик
}

body {
    margin: 0;
    padding: 0;
    background-color: $bg-deep;
    color: $text-main;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    overflow-x: hidden;
    user-select: none; /* Користувач не може виділяти текст */
}

ul, p, h1, h2, h3 {
    margin: 0;
    padding: 0;
}